.body {
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 92px 50px;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  width: 388px;
}

.header__link-list {
  display: flex;
  justify-content: space-between;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}
.header__links-list-item_no-bullit .header__link {
  text-decoration: none;
}

.header__links-list-item {
  text-underline-offset: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  color: #000;
  font-weight: 400;
  line-height: normal;
}

.header__logo {
  width: 148px;
  height: 105px;
  margin-right: 150px;
}

.header__logo-image {
  width: 100%;
}

.address {
  line-height: 24.3px; /* 135% */
  max-width: 240px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-underline-offset: 5px;
}

.cover {
   display: flex;
   flex-direction: column;
    justify-content: space-between;
   background-image: url(../images/cover.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   flex-wrap: wrap;
   position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  inset: 0;
}

.cover__title {
  display: flex;
  flex-wrap: wrap;
  padding: 165px 50px 135px;
  gap: 20px;
  position: relative;
  z-index: 2;
} 

.span__start-left {
  width: 1340px;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%; /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
} 

.span__start-right {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.span__center-left {
  width: 1340px;
  color: #FFF;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 100px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.span__center-right {
  color: #FFF;
  font-family: Raleway;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 60px;
  text-transform: uppercase;
}

.span__end-left {
  width: 1340px;
  color: #FFF;
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 100px */
  letter-spacing: 60px;
  text-transform: uppercase;
}

.span__end-center {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.span__end-right {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 152px 78px 62px 422px;
}

.cover__description-text {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  word-spacing: 17px;
  position: relative;
  z-index: 2;
}

.bet__button {
  color: #FFF;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #FFF;
  padding: 12px 32px;
  position: relative;
  z-index: 2;
}

.lots {
  margin: 180px 50px;
  min-height: 579px;
}

.lots__heading {
  padding: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  display: flex;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1 1 430px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 430px;
  min-height: 450px;
  padding: 50px 40px;
}

.card_type_film {
  position: relative;
  z-index: 2;
  background: no-repeat center/cover url(../images/card-lot-01.jpg);
}

.card_type_book {
  position: relative;
  z-index: 2;
  background: no-repeat center/cover url(../images/card-lot-02.jpg);
}

.card_type_picture {
  position: relative;
  z-index: 2;
  background: no-repeat center/cover url(../images/card-lot-03.jpg);
}

.card__title {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-line: underline;
  position: relative;
  z-index: 2;
  
}

.card-link {
  text-decoration: none;
}

.card__text {
  color: #FFF;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  position: relative;
  z-index: 2;
}

.lots__look-more-link {
  color: #000;
  font-size: 20px;
  font-weight: 400;
  padding-left: 40px;
}

.lots__look-more-link {
  color: #000;
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-underline-offset: 4px;
  padding-left: 40px;
  padding-top: 30px;
}

.about {
  display: flex;
  position: relative;
  padding: 0px 50px;
  gap: 25px;
}

.about__logo {
  width: 430px;
  height: 240px;
  padding: 0px 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.about__logo-image {
 max-width: 240px;
 height: 240px;
 flex-shrink: 0;
 background-color: #000;
 border-radius: 50%;
}

.about__column {
  display: inline-flex;
  height: 388px;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.about__column_title {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about__title {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 50px 90px;
  justify-content: space-between;
  align-items: center;
  gap: 356px;
}

.footer__menu {
  width: 149px;
  display: flex;
  flex-direction: column;
}

.address {
  line-height: 24.3px; /* 135% */
  max-width: 240px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-underline-offset: 5px;
}

.footer__link-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__link {
  text-decoration: underline;
}

.footer__links-list-item {
  list-style: circle;
  text-underline-offset: 4px;
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: #000;
}

.footer__links-list-item_no-bullit {
  list-style-type: none;
}

.footer__links-list-item_no-bullit .footer__link {
  text-decoration: none;
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 45px;
}

.socials__logo-yt {
  width: 50px;
}

.socials__logo-vk {
  width: 50px;
}

.socials__logo-pinterest {
  width: 50px;
}
